# FUNCIONES.

CONVOCO BIBLIOTECAS

In [1]:
import pandas as pd
from collections import defaultdict

CARGO LOS DATAFRAMES QUE VOY A UTILIZAR

In [2]:
df_UserItems=pd.read_csv('user_items_cleaned.csv')
df_SteamGames=pd.read_csv('steam_games_cleaned.csv')
df_UserReviews=pd.read_csv('user_reviews_cleaned.csv')

In [3]:
df_SteamGames.head()

,name,price,item_id,developer,year,Indie,Action,Casual,Adventure,Strategy,Simulation,RPG,Free to Play,Early Access,Sports,Massively Multiplayer,Racing,Design &amp; Illustration,Utilities
0,Lost Summoner Kitty,4.99,761140,kotoshiro,2018,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Ironbound,0.00,643980,secret level srl,2018,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Real Pool 3D - Poolians,0.00,670290,poolians.com,2017,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,弹炸人2222,0.99,767400,彼岸领域,2017,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Log Challenge,2.99,773570,NaN,2016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df_SteamGames.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32131 entries, 0 to 32130
Data columns (total 19 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   name                       32130 non-null  object
 1   price                      32131 non-null  float64
 2   item_id                    32131 non-null  int64
 3   developer                  28899 non-null  object
 4   year                       32131 non-null  int64
 5   Indie                      32131 non-null  float64
 6   Action                     32131 non-null  float64
 7   Casual                     32131 non-null  float64
 8   Adventure                  32131 non-null  float64
 9   Strategy                   32131 non-null  float64
 10  Simulation                 32131 non-null  float64
 11  RPG                        32131 non-null  float64
 12  Free to Play               32131 non-null  float64
 13  Early Access               32131 non-null  float64
 14  Sports                     32131 non-null  float64
 15  Massively Multiplayer      32131 non-null  float64
 16  Racing                     32131 non-null  float64
 17  Design &amp; Illustration  32131 non-null  float64
 18  Utilities                  32131 non-null  float64
dtypes: float64(15), int64(2), object(2)
memory usage: 4.7+ MB

In [5]:
df_UserReviews.head()

,user_id,item_id,recommend,review,year,sentiment_analysis
0,76561198040188061,10,True,this game is the 1 online action game is aweso...,2011,2
1,epic_doom,10,True,the og to csgo,2013,1
2,mayshowganmore,10,True,the best fps game,2014,2
3,BestinTheWorldThund3r,10,True,one of the best childhood games i have ever pl...,2014,2
4,76561198072207162,10,True,people still play this siq game,2014,2

In [6]:
df_UserItems.head()

   item_id  playtime_forever            user_id  items_count
0       10              0.10  76561197970982479          277
1       30              0.12  76561197970982479          277
2      300             78.88  76561197970982479          277
3      240             30.88  76561197970982479          277
4     3830              5.55  76561197970982479          277

### Función developer
'Cantidad' de items y 'porcentaje' de contenido Free por año según empresa desarrolladora

In [7]:
def developer(desarrollador: str):
    desarrollador=desarrollador
    desarrollador_lower = desarrollador.lower()
    df = df_SteamGames.loc[df_SteamGames['developer'] == f'{desarrollador_lower}'].sort_values('year')
    df=df.drop_duplicates()
    yearB = 0
    dict_años = defaultdict(list)  # Changed the dictionary value type to list
    items = 0
    items_free = 0
    for index, row in df.iterrows():
        year = row['year']
        price = row['price']
        if  year != yearB:
            items = 0  # Restablece la cuenta de elementos si es un nuevo año
            yearB = year
            items_free=0
              
        if price == 0.00:
            items_free+=1
            dict_años[year] = [items, f'{items_free}'] 
        else:
            items += 1
            dict_años[year] = [items, f'{items_free}']
    texto = ' Contenido Free (%)'

    df = pd.DataFrame(dict_años.values(), dict_años.keys()).rename(columns={0: 'Cantidad de Items', 1: f'{desarrollador}{texto}'})
    df[f'{desarrollador}{texto}'] = round((pd.to_numeric(df[f'{desarrollador}{texto}']) / df['Cantidad de Items']*100), 2)
    return df

In [8]:
# Ejemplo de uso 1:
desarrollador = 'Id Software'  
resultado = developer(desarrollador)
print(resultado)

      Cantidad de Items  Id Software Contenido Free (%)
1990                  1                             0.0
1993                  1                             0.0
1994                  2                             0.0
1995                  2                             0.0
1996                  1                             0.0
1997                  1                             0.0
1999                  1                             0.0
2000                  1                             0.0
2004                  1                             0.0
2005                  1                             0.0
2007                  1                             0.0
2010                  1                             0.0
2011                  1                             0.0
2012                  2                             0.0
2016                  1                             0.0

In [9]:
# Ejemplo de uso 2:
desarrollador = 'Capcom'  
resultado = developer(desarrollador)
print(resultado)

      Cantidad de Items  Capcom Contenido Free (%)
2008                  2                       0.00
2009                  3                       0.00
2011                  8                       0.00
2013                 14                       0.00
2014                 21                       0.00
2015                 33                       0.00
2016                 11                       9.09
2017                 39                       2.56

### Función userdata
Debe devolver 'cantidad' de dinero gastado por el usuario, el 'porcentaje' de recomendación en base a reviews.recommend y 'cantidad de items'.

Disclaimer: Varias celdas de prueba aquí que no he quitado por temor a romper todo al mínimo cambio

In [10]:
df_items_count = df_UserItems.groupby("user_id")['items_count'].mean().reset_index()
result = df_UserReviews[['user_id','recommend']]
df_user_recommend_ratio = result.groupby('user_id')['recommend'].mean().round(2).reset_index()

In [11]:
df_usuarios_items = df_UserItems.groupby('user_id')['item_id'].apply(list).reset_index()

In [12]:
df_usuarios_items.to_csv('Salida/itemsforuser.csv', index=False)

In [13]:
game_id_to_price = df_SteamGames.set_index('item_id')['price'].to_dict()
df_usuarios_items['total_spent'] = df_usuarios_items['item_id'].apply(lambda items: sum(game_id_to_price.get(item, 0) for item in items))
df_gasto = df_usuarios_items.drop('item_id', axis=1)

In [14]:
lista = [df_gasto, df_user_recommend_ratio]
temp = df_items_count
for i in range(len(lista)):
    df_user_data = pd.merge(temp,lista[i], on='user_id', how='outer')
    temp = df_user_data

In [15]:
df_user_data.loc[:, 'recommend'] = df_user_data['recommend'] * 100
df_user_data.rename(columns={'recommend': 'recommend_ratio'})

                 user_id  items_count  total_spent  recommend_ratio
0                --000--         58.0       187.83              NaN
1                --ace--         44.0       122.89            100.0
2              --ionex--         23.0       109.92            100.0
3           -2SV-vuLB-Kg         68.0       244.68            100.0
4      -404PageNotFound-        149.0      1159.46              NaN
...                  ...          ...          ...              ...
70760             zzonci          5.0         0.00              NaN
70761        zzoptimuszz         61.0         4.99            100.0
70762            zzydrax         13.0        99.94              NaN
70763              zzyfo         84.0       484.73              NaN
70764         zzzmidmiss         69.0       338.74              NaN

[70765 rows x 4 columns]

In [16]:
df_user_data.to_csv('Salida/df_user_data.csv', index=False)

In [17]:
def userdata(user_id:str):
    df = df_user_data.loc[df_user_data['user_id'] == f'{user_id}']
    #df.loc[:, 'recommend'] = df['recommend']
    #df = df.rename(columns={'user_id': 'Usuario', 'recommend': '% de recomendación',
    #             'items_count': 'Cantidad de items', 'total_spent':'Dinero gastado'})
    result = {'Usuario': df["user_id"].iloc[0], 'Dinero gastado': round(df["total_spent"].iloc[0],2),
              '% de recomendación': df["recommend"].iloc[0], 'Cantidad de items': df["items_count"].iloc[0]}

    return result

In [1]:
print(df_user_data)

NameError: name 'df_user_data' is not defined

In [18]:
# Ejemplo de uso 1:
ID_Usuario = '--ionex--'  
resultado = userdata(ID_Usuario)
print(resultado)

{'Usuario': '--ionex--', 'Dinero gastado': 109.92, '% de recomendación': 100.0, 'Cantidad de items': 23.0}

In [19]:
# Ejemplo de uso 2:
ID_Usuario = 'zzoptimuszz'  
resultado = userdata(ID_Usuario)
print(resultado)

{'Usuario': 'zzoptimuszz', 'Dinero gastado': 4.99, '% de recomendación': 100.0, 'Cantidad de items': 61.0}

### Función UserForGenre
Devuelve el usuario que acumula más horas jugadas para el género dado y una lista de la acumulación de horas jugadas por año de lanzamiento.

In [20]:
def UserForGenre(genero:str):
    # Se crea un nuevo DataFrame llamado df_games que contiene solo las columnas relevantes
    game_columns = ['item_id', 'name', 'year', 'Indie', 'Action', 'Casual', 'Adventure', 'Strategy',
                    'Simulation', 'RPG', 'Free to Play', 'Early Access', 'Sports',
                    'Massively Multiplayer', 'Racing', 'Design &amp; Illustration', 'Utilities']
    df_games = df_SteamGames[game_columns]
    
    # Se hace un join entre df_games y df_UserItems utilizando 'item_id' como clave
    df_joined = pd.merge(df_games, df_UserItems[['item_id', 'playtime_forever','user_id']], on='item_id', how='inner')

    # Se filtra el DataFrame resultante para el género específico
    genre_df = df_joined[df_joined[genero] == 1]

    # Se agrupa por usuario y año, sumamos las horas jugadas y se encuentra el usuario con más horas jugadas para el género dado
    total_hours_by_user_and_year = genre_df.groupby(['user_id', 'year'])['playtime_forever'].sum()
    max_user = total_hours_by_user_and_year.groupby('user_id').sum().idxmax()

    # Se obtiene la lista de acumulación de horas jugadas por año para el usuario con más horas jugadas
    max_user_hours_by_year = total_hours_by_user_and_year.loc[max_user].reset_index()
    max_user_hours_list = [{"Año": int(row['year']), "Horas": row['playtime_forever']} for _, row in max_user_hours_by_year.iterrows()]

    # Se retorna el resultado en un formato específico
    result = {"Usuario con más horas jugadas para Género {}".format(genero): max_user, "Horas jugadas": max_user_hours_list}
    return result

In [21]:
# Ejemplo de uso 1:
genero_a_buscar = 'Casual'  
resultado = UserForGenre(genero_a_buscar)
print(resultado)

{'Usuario con más horas jugadas para Género Casual': 'REBAS_AS_F-T', 'Horas jugadas': [{'Año': 2001, 'Horas': 0.18}, {'Año': 2007, 'Horas': 7.1}, {'Año': 2008, 'Horas': 22.5}, {'Año': 2009, 'Horas': 124.79}, {'Año': 2010, 'Horas': 845.0699999999999}, {'Año': 2011, 'Horas': 691.41}, {'Año': 2012, 'Horas': 1278.84}, {'Año': 2013, 'Horas': 655.63}, {'Año': 2014, 'Horas': 1527.92}, {'Año': 2015, 'Horas': 4094.92}, {'Año': 2016, 'Horas': 5627.18}, {'Año': 2017, 'Horas': 38.67}]}

In [22]:
# Ejemplo de uso 2:
genero_a_buscar = 'Free to Play'  
resultado = UserForGenre(genero_a_buscar)
print(resultado)

{'Usuario con más horas jugadas para Género Free to Play': 'REBAS_AS_F-T', 'Horas jugadas': [{'Año': 2009, 'Horas': 12.07}, {'Año': 2010, 'Horas': 0.05}, {'Año': 2011, 'Horas': 72.07}, {'Año': 2012, 'Horas': 281.65999999999997}, {'Año': 2013, 'Horas': 246.98000000000002}, {'Año': 2014, 'Horas': 116.67999999999999}, {'Año': 2015, 'Horas': 2120.36}, {'Año': 2016, 'Horas': 1697.0}, {'Año': 2017, 'Horas': 0.97}]}

### Función best_developer_year
Devuelve el top 3 de desarrolladores con juegos MÁS recomendados por usuarios para el año dado. (reviews.recommend = True y comentarios positivos)

In [23]:
def best_developer_year(año:int):
    # Se filtra el DataFrame resultante para el año específico
    reduce_df = df_UserReviews[(df_UserReviews['year'] == año) & 
                               (df_UserReviews['recommend'] == True) & 
                               (df_UserReviews['sentiment_analysis'].isin([2]))]
    
    # Se hace un join entre df_UserReviews y df_steamgames utilizando 'item_id' como clave
    merged_reviews = pd.merge(reduce_df, df_SteamGames[['item_id', 'name','developer']], on='item_id', how='left')
   
    # Se calcula la frecuencia de cada juego
    game_count = merged_reviews['developer'].value_counts()

    # Se selecciona el top 3 de juegos más recomendados, estos estan ordenados de mayor a menor por el value_counts
    top_3_best_games = game_count.head(3)

    # Se retorna el resultado en un formato específico
    result = [{"Puesto {}".format(i+1): developer} for i, (developer, _) in enumerate(top_3_best_games.items())]
    
    return result

In [24]:
# Ejemplo de uso 1:
año = 2015
resultado = best_developer_year(año)
print(resultado)

[{'Puesto 1': 'valve'}, {'Puesto 2': 'facepunch studios'}, {'Puesto 3': 'smartly dressed games'}]

In [25]:
# Ejemplo de uso 2:
año = 2013
resultado = best_developer_year(año)
print(resultado)

[{'Puesto 1': 'valve'}, {'Puesto 2': 'facepunch studios'}, {'Puesto 3': 're-logic'}]

### Función developer_reviews_analysis
Devuelve un diccionario con el nombre del desarrollador como llave y una lista con la cantidad total de registros de reseñas de usuarios que se encuentren categorizados con un análisis de sentimiento como valor positivo o negativo.

In [26]:
def developer_reviews_analysis(desarrolladora:str):
    # Se hace un join entre df_UserReviews y df_games utilizando 'item_id' como clave
    merged_reviews = pd.merge(df_UserReviews,df_SteamGames[['item_id','developer']], on='item_id', how='left')

    # Se filtra el DataFrame de reseñas por la desarrolladora específica
    reviews_by_developer = merged_reviews[merged_reviews['developer'] == desarrolladora.lower()]

    # Se realiza el análisis de sentimiento
    sentiment_counts = reviews_by_developer['sentiment_analysis'].value_counts()

    # Se crea el diccionario de resultado
    result = {desarrolladora: [
        f'Negative = {sentiment_counts.get(0, 0)}',
        f'Positive = {sentiment_counts.get(2, 0)}' 
    ]}
    return result

In [29]:
# Ejemplo de uso 1:
desarrolladora = 'Valve'
resultado = developer_reviews_analysis(desarrolladora)
print(resultado)

{'Valve': ['Negative = 908', 'Positive = 4713']}

In [28]:
# Ejemplo de uso 2:
desarrolladora = 'Ubisoft'
resultado = developer_reviews_analysis(desarrolladora)
print(resultado)

{'Ubisoft': ['Negative = 32', 'Positive = 61']}